/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

mat-dialog-container {
  position: fixed;
  top: 0%;
  background-color: white;
  z-index: 100000;
  height: 500px !important;
  width: 500px !important;
  /* margin-left: 50%;
  transform: translateX(-50%) !important; */
}
